version: '3'
services:
  etude:
    image: "${APP_IMAGE_URL}"
    container_name: "${APP_CONTAINER_NAME}"
    restart: unless-stopped
    env_file:
      .app_env_file
    environment:
      RENTMGR_BATCH_CRON: "0 0/1 0 ? * * *"
      APP_BASEDIR: "${APP_BASEDIR}"
      APP_IMAGE_URL: "${APP_IMAGE_URL}"
      APP_CONTAINER_NAME: "${APP_CONTAINER_NAME}"
    volumes:
        - ${APP_BASEDIR}/app/logs:/usr/local/tomcat/logs/
        - ${APP_BASEDIR}/app/work:/usr/local/tomcat/work/
        - ${APP_BASEDIR}/app/temp:/usr/local/tomcat/temp/
        - ${APP_BASEDIR}/app/systmp:/tmp/
        - ${APP_BASEDIR}/app/.java:/root/.java/
        - /etc/timezone:/etc/timezone:ro
    network_mode: bridge
