version: '3'
services:
  entropy:
    image: "harbur/haveged:1.7c-1"
    container_name: entropy
    privileged: true
    restart: unless-stopped
  nginx:
    image: nginx:1.14.2
    labels:
        com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${APP_BASEDIR}/nginx/conf.d:/etc/nginx/conf.d
      - ${APP_BASEDIR}/nginx/vhost.d:/etc/nginx/vhost.d
      - ${APP_BASEDIR}/nginx/html:/usr/share/nginx/html
      - ${APP_BASEDIR}/nginx/certs:/etc/nginx/certs:ro
    network_mode: bridge
  nginx-gen:
    image: jwilder/docker-gen:0.7.0
    command: -notify-sighup nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: nginx-gen
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.docker_gen: "true"
    restart: unless-stopped
    volumes:
      - ${APP_BASEDIR}/nginx/conf.d:/etc/nginx/conf.d
      - ${APP_BASEDIR}/nginx/vhost.d:/etc/nginx/vhost.d
      - ${APP_BASEDIR}/nginx/html:/usr/share/nginx/html
      - ${APP_BASEDIR}/nginx/certs:/etc/nginx/certs:ro
      - ${APP_BASEDIR}/nginx/templates/:/etc/docker-gen/templates/:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    network_mode: bridge
  nginx-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion:v1.10
    container_name: nginx-letsencrypt
    restart: unless-stopped
    volumes:
      - ${APP_BASEDIR}/nginx/conf.d:/etc/nginx/conf.d
      - ${APP_BASEDIR}/nginx/vhost.d:/etc/nginx/vhost.d
      - ${APP_BASEDIR}/nginx/html:/usr/share/nginx/html
      - ${APP_BASEDIR}/nginx/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_DOCKER_GEN_CONTAINER: "nginx-gen"
      NGINX_PROXY_CONTAINER: "nginx"
      ACME_CA_URI: "https://acme-v01.api.letsencrypt.org/directory"
      REUSE_KEY: "true"
      # ACME_CA_URI: "https://acme-staging.api.letsencrypt.org/directory"
    network_mode: bridge
